.input__container {
  .input__logo {
    position: absolute;
    left: 123px;
    top: 29px;
    color: #808080;
  }
  .input__field {
    width: 500px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    padding: 8px 44px;
    font-size: 14px;
    line-height: 16.94px;
  }

}